<div class="h-screen w-full">
    <!--  -->
    <div class="header h-[81px] w-full flex items-center justify-between px-8 border-b border-neutral-200">
        <h2 class="text-preset-1 text-neutral-950">All Notes</h2>
        <div class="flex items-center gap-4">
            <input type="text" placeholder="Search by title, content, or tags…">
            <button class="h-10 w-10 flex items-center justify-center rounded-lg">
                <span class="material-symbols-rounded">
                    settings
                </span></button>
        </div>
    </div>

</div>