/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Inter";
    src: url(../public/fonts/inter/Inter_18pt-Regular.ttf) format("opentype");
}

@font-face {
    font-family: "Inter Bold";
    src: url(../public/fonts/inter/Inter_18pt-Bold.ttf) format("opentype");
}

@font-face {
    font-family: "Inter Medium";
    src: url(../public/fonts/inter/Inter_18pt-Medium.ttf) format("opentype");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url(../public/fonts/inter/Inter_18pt-SemiBold.ttf) format("opentype");
}


*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
    font-family: "Inter", sans-serif;
}

.text-on-1-line,
.text-on-2-line,
.text-on-3-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-on-1-line {
    -webkit-line-clamp: 1;
}

.text-on-2-line {
    -webkit-line-clamp: 2;
}

.text-on-3-line {
    -webkit-line-clamp: 3;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


label {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -.2px;
    color: #0E121B;
}



input,
input::placeholder {
    color: #717784;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -.3px;
}

input {
    height: 44px;
    padding: 0 16px;
    border: 1px solid #CACFD8;
    border-radius: 8px;
    background-color: white;
    outline: none;
    width: 100%;


}

.btn {
    height: 44px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;

    &.btn-submit {
        background-color: #335CFF;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}